<footer id="dk-footer" class="dk-footer">
   <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <div class="text-center col-md-12 col-lg-8">
          <h3>Thank you for supporting us!</h3>
      </div>
      <div class="text-center col-md-12 col-lg-8">
          <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
              <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
             <fa-icon [icon]="faYoutbue"></fa-icon>

          </a>
          <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
              <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="https://github.com" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
              <fa-icon [icon]="faGithub"></fa-icon>
              
          </a>
          <a href="https://github.com" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
              <fa-icon [icon]="faInstagram"></fa-icon>
              
          </a>
          <mat-chip-avatar color="secondary" status="success">good</mat-chip-avatar>
          
          
      </div>

        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
        
        <div class="card bg-dark">
          <div class="card-body " >
           
            <p class="card-text">
              Ajinkya Housing Society, 
              Rupee Housing Society, 
              Sector No. 22, Talwade, 
              Pimpri-Chinchwad, 
              Maharashtra 412114</p>
           
          </div>
        </div>
      
        
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

       

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



    
   
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2022-2023, All Right Reserved Bonzersoft Pvt Ltd</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
</footer>