<div class="navdiv" id="myHeader">
<nav class="navbar navbar-expand-lg navbar-dark   nav justify-content-end" >
  <div class="container">
    <div class="angular-logo">
        
        <img class="img-responsive" src="/../../assets/image/Bonzersoft-logos_black.png" width="60px">
        
    </div>
   
      <a class="navbar-brand" href="#">
        <mat-card-header>
            <mat-card-title color="warn"> 
                
                        Bonzersoft
            </mat-card-title>
        </mat-card-header>
        
       
      </a>
     

       <button class="navbar-toggler" (click)="open(content)" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

          
           <span class="navbar-toggler-icon">
           
          </span> 
      </button> 
      


      <div class="collapse navbar-collapse nav justify-content-end" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./home">Home
                      <span class="sr-only"></span>
                  </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
               


                  <a class="nav-link" routerLink="./about">About</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./services">Services</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./contact">Contact</a>
              </li>
              <li class=" btn-primary nav-item text-white" role="button">
                  <a class="nav-link text-white">
                    <div class="side-toggle-b " >
                        <div class="container">


                        
                        <ng-template #content let-offcanvas >
                            <div class="offcanvas-header" >
                                <div class="angular-logo-2">
                                    <img class="img-responsive" src="/../../assets/image/Bonzersoft-logos_black.png" width="60px">
                                    
                                </div>
                                <h4 class="offcanvas-title" style="text-align: center; color: brown;"> welcome to Bonzersoft </h4>
                                <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
                            </div>
                            <div class="offcanvas-body" style="background-color: rgb(63, 138, 204);">
                                
                                <!-- <li class="nav-item"> -->
                                     
                                     <!-- mat List start........... -->
                                                             
                                      <div class="container text-center">
                                       <mat-list>
                                        
                                        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Fish selection">
                                            <mat-divider></mat-divider>
                                            <mat-chip-option color="warn">
                                                <mat-list-item routerLink="./home">
                                        
                                                    Home
                                                </mat-list-item>
                                                
                                            </mat-chip-option>
                                            <mat-divider></mat-divider>
                                            <mat-chip-option>

                                                <mat-list-item routerLink="./about">About US</mat-list-item>
                                            </mat-chip-option>
                                            <mat-divider></mat-divider>
                                            <mat-chip-option>
                                                <mat-list-item routerLink="./services">Services</mat-list-item>
                                            </mat-chip-option>
                                            <mat-divider></mat-divider>
                                            <mat-chip-option color="accent" selected>
                                                
                                                <mat-list-item routerLink="./contact">Contact</mat-list-item>
                                            </mat-chip-option>
                                            
                                          </mat-chip-listbox>
                                         
                                         
                                        </mat-list>
                                        </div>
                                        <!-- mat list end............... -->
                                        <div class="sidenav.card-2 py-5">
                                        <mat-card>
                                            <mat-card-content>

                                                <mat-chip-grid aria-label="Fish selection">
                                                    <mat-chip-option>One fish</mat-chip-option>
                                                    <mat-chip-option>Two fish</mat-chip-option>
                                                    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
                                                    <mat-chip-option color="warn">Warn fish</mat-chip-option>
                                                  </mat-chip-grid>
                                            
                                            </mat-card-content>
                                          </mat-card>
                                        </div>
                                        
                                         <!-- .............................................. -->
                                <!-- </li> -->
                                <div class="text-end py-2" style="position: absolute;">
                                    <button type="button" class="btn btn-outline-primary" (click)="offcanvas.close('Close click')">Close
                        
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                        <!-- end div ng side toggle -->
                        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
                            <fa-icon [icon]="faCircleDown"></fa-icon>    
                            start
                        </button>
                        


                    </div>

                    
                  </a>
              </li> 
          </ul>
      </div>
  </div>
</nav>

</div>


