// bg-dark
.navdiv
{
    background-color: lightblue;
}
.container
{
    a{
        //color: adjust-color($color: #4e10a5, $red: 50%, $green: 40%, $blue: 20%, $hue: 10%, $saturation: 10%, $lightness: 10%, $alpha: 1.0);
       color: rgb(110, 27, 220);
    }

}
li{
    a{
        color: rgb(54, 4, 135);
    }
} 