<section class="services">
    <div class="container text-center py-5">

       <h3>about of services</h3>

       <div class="row">
        <div class="col-md-4">
          <!-- first col -->
          <div class="card">
            <div class="card-body">
              <i class="fa fa-bar-chart" style="font-size:36px" myicon></i>
              <h3>best ex</h3>
              <p>Lorem ipsum dolor, 
              sit amet consectetur adipisicing elit. 
              Dignissimos perferendis eius quibusdam
               non commodi. Minima maiores maxime ab, 
               eius aut earum animi distinctio ut 
               officiis. Quos odio aspernatur similique 
               autem?
              </p>

             </div>
          </div>
           <!-- first end col -->
        </div>
        <div class="col-md-4">
          <!-- second col -->
          <div class="card">
            <div class="card-body">
              <i class="fa fa-pie-chart" style="font-size:48px;color:rgb(197, 148, 148)" myicon></i>
              <h3>best ex</h3>
              <p>Lorem ipsum dolor, 
              sit amet consectetur adipisicing elit. 
              Dignissimos perferendis eius quibusdam
               non commodi. Minima maiores maxime ab, 
               eius aut earum animi distinctio ut 
               officiis. Quos odio aspernatur similique 
               autem?
              </p>

             </div>

          </div>
          <!-- second end col -->
        </div>
        <div class="col-md-4">
          <!-- start third col -->
          <div class="card">
            <div class="card-body">
            
              <i class="fa fa-line-chart" style="font-size:36px" myicon ></i>
              <h3>best ex</h3>
              <p>Lorem ipsum dolor, 
              sit amet consectetur adipisicing elit. 
              Dignissimos perferendis eius quibusdam
               non commodi. Minima maiores maxime ab, 
               eius aut earum animi distinctio ut 
               officiis. Quos odio aspernatur similique 
               autem?
              </p>

             </div>
          </div>
         <!-- third end col -->
        </div>


       </div>

    </div>


  </section>
  <!-- end services section -->
