// <img src="assets/image/Bonzersoft-logos_white.png" alt="" height="50px">
//             bonzersoft

.navbar-collapse {
    text-align: right;
}
.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;
    vertical-align: middle;
}